VITE_USER_NAME="Nguyễn Hồ Thiên Tài"
VITE_COLLEGE="FPT Polytechnic"
VITE_ROLE="Senior Visual Designer"
VITE_BIO="I craft compelling visual narratives and edit high-impact videos."
VITE_LOCATION="Ho Chi Minh City, Vietnam"
VITE_SHEET_API_URL="https://script.google.com/macros/s/YOUR_API_ID/exec"
VITE_CONTACT_FB="https://www.facebook.com/thientai.nguyenho.9"
VITE_CONTACT_IG="https://www.instagram.com/tafi.0203"
VITE_CONTACT_PHONE="0828 254 490"
